:root {
    --growing-polygon: polygon(0 0, 0 0, 0 0, 0 0);

    --temp-underline-polygon: polygon(0 0, 0 0, 0 0, 0 0);
}

#growing-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-green);
    clip-path: var(--growing-polygon);
}
#growing-content[data-transition="fast"] {
    transition: clip-path var(--transition-fast) ease-out;
}
#growing-content[data-transition="slow"] {
    transition: clip-path var(--transition-fast) ease-out;
}
#growing-content[data-transition="fastEaseOut"] {
    transition: clip-path var(--transition-fast) ease-out;
}

#tempUnderline {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-green);
    clip-path: var(--temp-underline-polygon);
    width: 100%;
    height: 100%;
}
#tempUnderline[data-transition="fastEaseOut"] {
    transition: clip-path var(--transition-fast) ease-out;
}